<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>
      /*SVG Icons - svgicons.sparkk.fr*/
      .svg-icon {
        width: 2rem;
        height: 2rem;
      }

      .svg-icon path,
      .svg-icon polygon,
      .svg-icon rect {
        fill: #4691f6;
      }

      .svg-icon circle {
        stroke: #4691f6;
        stroke-width: 1;
      }
    </style>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <%if (htmlWebpackPlugin.options.env != "development") {%>
      <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet"></link>
      <% } %>
    <%}%>
  </head>

  <body>
    <div id="app"></div>

    <!-- <script src="https://cdn.rawgit.com/natetyler/wikiquotes-api/e7435188/wikiquote-api.js"></script> -->
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>

    <script>
      (function () {
        var src = "js/eruda.min.js";
        if (!/eruda=true/.test(window.location.href)) return;
        document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
      })();
    </script>
  </body>
</html>
