@import "./spinner.css";

:root {
  --primary-color: green;
}

.button {
  border: 5px solid red;
  background: none;
  box-sizing: content-box;
  color: inherit;
  cursor: default;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  appearance: button;
  user-select: none;

  &::focus-inner {
    border: 0;
    padding: 0;
  }
}
