.container {
  /*lost-waffle: 1/3;*/
  lost-column: 1/2 3;
  /*lost-utility: clearfix;*/
}

.card {
  display: flex;
  flex-direction: column;
  border: .2rem solid blue;
  margin: .5rem 0;
  padding: .5rem;

  & a {
    text-decoration: none;

    &:hover {
      color: red;
    }
  }

  & content {
    display: block;
    margin: .7rem;
  }
}
